extends partial/layout.pug

block body
    div(id="map-canvas")
    div(id="mobile-donate" class="btn btn-container-donate")
    button(class="btn btn-primary pull-right" data-toggle="modal" data-target="#legend-modal" id="legend-modal-button") Show Map Legend

    div(class="legend-container" id="legend")
      div(class="map-legends")
        div(class="row")
          div(class="col-md-2")
            div(class="line")
            div(class="line-text") Old
          div(class="col-md-2")
            div(class="line")
            div(class="line-text") Certain
          div(class="col-md-2")
            div(class="line")
            div(class="line-text") Approximate
          div(class="col-md-2")
            div(class="line")
            div(class="line-text") Fissure
          div(class="col-md-4" style="padding-top:7px;")
            div(class="circle")
            div(class="line-text" style="margin-top:4px;") Population Density

    div(class="main-panel")
      div(class="main-panel-container" id="search-container")
        span(id="desktop-donate")
        label(for="search-address") Locate
        input(autofocus id="search-address" class="form-control" placeholder="Locate City, Province, Address" onclick="this.select()")
      div(class="main-panel-list" ng-controller="cityController as cityCntrl")
        div(class="vert-cut")
          div(class="west-fault")
            h4 West Valley Fault
            div(id="west-fault-list" class="list-group" ng-repeat="city in cityCntrl.cities | filter:  {faultRegion: 'west'}")
              a(href="#" class="list-group-item" ng-click="cityCntrl.selectCity(city.latitude,city.longitude)") {{ city.name }}
                span(class="population")
                  | {{city.size}}
                  span(class="glyphicon glyphicon-user")
    div(class="modal fade" id="about-dialog" tabindex="-1" role="dialog" aria-labelledby="about" aria-hidden="true")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-body")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            h2(style="margin-top: 0")
              | Project Tremors
              small v1.0.0
            div(class="row")
              div(class="col-md-6")
                p(class="lead")
                  | Developers 
                  br
                  small
                    a(href="https://ph.linkedin.com/pub/dominic-tuazon/88/7b3/261")
                      | Dominic Tuazon
                      br
                    a(href="https://ph.linkedin.com/in/louismaycol")
                      | Louis Michael Concepcion
                      br
                    a(href="https://www.linkedin.com/in/imaness")
                      | Emmanuel Soriano
              div(class="col-md-6")
                p(class="lead")
                  | Designer
                  br
                  small
                    a(href="https://ph.linkedin.com/pub/kyle-abughanem/99/155/2b4")
                      | Kyle Abughanem
                      small
                p(class="lead")
                  | Marketing
                  br
                  small
                    a(href="https://ph.linkedin.com/pub/michael-gutierrez/88/b53/271")
                      | Mic Gutierrez
                      small
            div(class="well well-sm")
              p(style="font-size: smaller") Data Sources
              div(style="font-size: smaller")
                ul
                  li
                    a(href="http://122.54.214.222/population") http://122.54.214.222/population
                  li 
                    a(href="http://nababaha.com/marikina_valley_fault.htm") http://nababaha.com
                  li
                    a(href="http://www.gmanetwork.com/news/story/489334/scitech/science/list-barangays-in-metro-manila-nearby-provinces-near-earthquake-fault") http://www.gmanetwork.com
                  li
                    a(href="http://www.abs-cbnnews.com/nation/05/22/15/schools-near-west-valley-fault-need-go") http://www.abs-cbnnews.com/
    div(class="modal fade" id="contact-dialog" tabindex="-1" role="dialog" aria-labelledby="contact" aria-hidden="true")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-body")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true")
              | &times;
            h1
            p(class="lead" style="margin-bottom: 0") Think you have the next great app or website idea? We can develop it for you! Contact us at:
            p
              a(href="mailto:ideas@instigators.io") ideas@instigators.io
            p(class="lead" style="margin-bottom: 0") Visit our site at:
            p
              a(href="http://www.instigators.io") Soon: www.instigators.io
    div(class="modal fade" id="legend-modal")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            h4(class="modal-title") Map Legend
          div(class="modal-body")
            div(class="row")
              div(class="col-sm-2")
                div(class="line")
                div(class="line-text") Old
              div(class="col-sm-2")
                div(class="line")
                div(class="line-text") Certain
              div(class="col-sm-2")
                div(class="line")
                div(class="line-text") Approximate
              div(class="col-sm-2")
                div(class="line")
                div(class="line-text") Fissure
              div(class="col-sm-4" style="padding-top:7px;")
                div(class="circle")
                div(class="line-text" style="margin-top:4px;") Population Density

block scripts
  script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places,drawing&key=AIzaSyAXbRjMQg-_eyQPs6Q7abzwhCuE6LPaDRY")
  
  script.
    //script js
    function newPopup(url) {
      var twitUrl = url.substring(0, 31);
      var twitText = url.substring(31, url.length);
      twitText = encodeURIComponent(twitText);

      url = twitUrl + twitText;

      popupWindow = window.open(
          url, 'popUpWindow', 'height=700,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }
    function InjectDonateBtn() {
        var paypalHTML = '<form id="donate-btn-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_new"> <input type="hidden" name="cmd" value="_donations"> <input type="hidden" name="business" value="dominic.tuazon@gmail.com"> <input type="hidden" name="lc" value="PH"> <input type="hidden" name="item_name" value="Proceedings will help Instigators refuel with coffee and pizza."> <input type="hidden" name="no_note" value="0"> <input type="hidden" name="currency_code" value="PHP"> <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest"> <input data-toggle="tooltip" data-placement="bottom" title="Proceedings will help Instigators refuel with coffee and pizza." style="float: right; margin-top: 7px;" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form>';

        if($(window).width() > 768){
            $('#mobile-donate').html('');
            $('#desktop-donate').html(paypalHTML);
            $('#donate-btn-form').addClass('pull-right');
        } else {
            $('#desktop-donate').html('');
            $('#mobile-donate').html($('#mobile-donate').html() + paypalHTML);
            $('#donate-btn-form > input').attr('style', '');
        }
    }

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();

        InjectDonateBtn();
    });

    $(window).on('resize', function(){
        InjectDonateBtn();
    });

    var latlongParam;

  script(type="text/javascript" src="/old/js/main.bundled.js")
  script(type="text/javascript" src="/old/js/tour.bundled.js")





                

        







    